<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Error page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg " style="background-color: #b84f3c;">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: whitesmoke" href="/">NMEA Reader</a>
  </div>
</nav>
<div class="container">
  <h1>Что-то пошло не так! </h1>
  <h2>Мы устраняем ошибку.</h2>
  <p th:if="${message != null}" th:text="${message}"></p>
  <a href="/">На главную</a>
</div>

</body>
</html>