<!--Шапка сайта с меню-->
<div th:fragment="header"
     xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg " style="background-color: #b84f3c;">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: whitesmoke" href="/">NMEA Reader</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul
                        class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/routes">Routes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>