<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Автор</title>
</head>
<body>
<div layout:fragment="content">

  <h3 th:text="'Id' + ${route.id}"></h3>
  <p th:text="'Название: ' + ${route.name} "></p>
  <p th:text="'Дата создания: ' + ${route.createdWhen.toString()}"></p>
  <p th:text="'Длина маршрута: ' + ${route.wayLength}"></p>

  <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
</div>
</body>
</html>
