<!--страница с книгами-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Routes</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Загруженные маршруты</h1>
    <a
            href="/routes/add"
            class="btn btn-secondary"
            role="button"
            style="float: right"
            aria-disabled="true">Добавить</a>
    <div>
        <br>
        <br>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Название</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Файл</th>
            <th scope="col">Длина маршрута</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <!--        Перебор маршрутов-->
        <tr th:each="route: ${routes}">
            <td th:text="${route.id}"></td>
            <td th:text="${route.name}"></td>
            <td th:text="${route.createdWhen.toString()}"></td>
            <td>
                <a th:if="${route.onlineCopy} != ''" th:href="@{|/routes/download?routeId=${route.id}|}">
                    <span>Скачать файл</span>
                </a>
            </td>
            <td th:text="${route.wayLength}"></td>
            <td>
                <a      th:href="'/routes/calculate/' + ${route.id}"
                        class="btn btn-primary"
                        role="button"
                        aria-disabled="true">Вычислить путь</a>
                <a      th:href="'/routes/' + ${route.id}"
                        class="btn btn-primary"
                        role="button"
                        aria-disabled="true">Просмотреть</a>
                <a th:href="'/routes/delete/' + ${route.id}"
                   class="btn btn-primary"
                   role="button"
                   onclick="return confirm('Вы действительно хотите удалить запись?');"
                   aria-disabled="true">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Pagination" th:if="${routes.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${routes.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/routes?page={id}(id=${routes.number lt 2 ? 1 : routes.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq routes.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( 1, routes.totalPages, 1)}">
                <a class="page-link" th:href="@{/routes?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${routes.number eq routes.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/routes?page={id}(id=${routes.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>